<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://200.98.141.44:5432/ped</property>
		<property name="connection.username">ped</property>
		<property name="connection.password">@Socio2016</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.default_schema">ped</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<property name="hibernate.connection.provider_disables_autocommit">true</property>	
		
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">5</property>
		<property name="hibernate.c3p0.min_size">5</property>
	    <property name="hibernate.c3p0.max_size">20</property>
	    <property name="hibernate.c3p0.timeout">1800</property>
	    <property name="hibernate.c3p0.max_statements">50</property>
	    <property name="hibernate.c3p0.idle_test_period">1800</property>
	    <property name="hibernate.c3p0.preferredTestQuery">SELECT 1;</property>
    	
		<mapping class="br.com.a2dm.brcmn.entity.Usuario"/>
		<mapping class="br.com.a2dm.brcmn.entity.log.UsuarioLog"/>
		<mapping class="br.com.a2dm.brcmn.entity.Grupo"/>
		<mapping class="br.com.a2dm.brcmn.entity.log.GrupoLog"/>
		<mapping class="br.com.a2dm.brcmn.entity.TelaAcao"/>
		<mapping class="br.com.a2dm.brcmn.entity.log.TelaAcaoLog"/>
		<mapping class="br.com.a2dm.brcmn.entity.GrupoTelaAcao"/>
		<mapping class="br.com.a2dm.brcmn.entity.log.GrupoTelaAcaoLog"/>
		<mapping class="br.com.a2dm.brcmn.entity.Sistema"/>
		<mapping class="br.com.a2dm.brcmn.entity.Acao"/>
		<mapping class="br.com.a2dm.brcmn.entity.Conselho"/>
		<mapping class="br.com.a2dm.brcmn.entity.Especialidade"/>
		<mapping class="br.com.a2dm.brcmn.entity.Estado"/>
		<mapping class="br.com.a2dm.brcmn.entity.Parametro"/>
		<mapping class="br.com.a2dm.brcmn.entity.RecuperarSenha"/>
		<mapping class="br.com.a2dm.brcmn.entity.UsuarioDevice"/>
		
		<mapping class="br.com.a2dm.spdm.entity.Event"/>
		<mapping class="br.com.a2dm.spdm.entity.Form"/>
		<mapping class="br.com.a2dm.spdm.entity.Cliente"/>
		<mapping class="br.com.a2dm.spdm.entity.ClienteProduto"/>
		<mapping class="br.com.a2dm.spdm.entity.Receita"/>
		<mapping class="br.com.a2dm.spdm.entity.Produto"/>
		<mapping class="br.com.a2dm.spdm.entity.Pedido"/>
		<mapping class="br.com.a2dm.spdm.entity.PedidoProduto"/>
		<mapping class="br.com.a2dm.spdm.entity.Mensagem"/>
		<mapping class="br.com.a2dm.spdm.entity.MensagemDestinatario"/>
		<mapping class="br.com.a2dm.spdm.entity.Task"/>
		<mapping class="br.com.a2dm.spdm.entity.ObservacaoLogistica"/>
		<mapping class="br.com.a2dm.spdm.entity.ObservacaoProducao"/>
		<mapping class="br.com.a2dm.spdm.entity.FormaPagamento"/>
		<mapping class="br.com.a2dm.spdm.entity.OpcaoEntrega"/>
		<mapping class="br.com.a2dm.spdm.entity.Tipo"/>
		<mapping class="br.com.a2dm.spdm.entity.Feriado"/>
		
	</session-factory>
</hibernate-configuration>